<div class="letter-detail">
  <form
    [formGroup]="letterForm"
    #formLetter="ngForm"
    (ngSubmit)="onSubmit();"
  >
    <mat-form-field class="email">
      <mat-label>Recipients</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
      >
    </mat-form-field>

    <mat-form-field class="topic">
      <mat-label>Topic</mat-label>
      <input
        type="text"
        matInput
        formControlName="topic"  
      > 
    </mat-form-field>

    <mat-form-field class="letter-body">
      <textarea
        type="text"
        matInput
        cdkTextareaAutosize   
        formControlName="body"
      >
      </textarea>
    </mat-form-field>

    <div class="button-container">
      <app-date-time-picker
        (update)="handleUpdateDate($event)"
      >
      </app-date-time-picker>
      <button
        class="send-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="letterForm.invalid"
      >
      {{
        !letter || letter.isPosted || letter.id == -1
        ? 'Send'
        : 'Update'  
      }}
      </button>
      </div>
  </form>
</div>