<div class="letter-detail">
  <form [formGroup]="letterForm">
    <mat-form-field class="email">
      <mat-label>Recipients</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
      >
    </mat-form-field>

    <mat-form-field class="topic">
      <mat-label>Topic</mat-label>
      <input
        type="text"
        matInput
        formControlName="topic"
        [value]="letter ? letter.topic : ''"
        
      > 
    </mat-form-field>

    <mat-form-field class="letter-body">
      <textarea
        type="text"
        matInput
        cdkTextareaAutosize   
        formControlName="body"
        [value]="letter ? letter.body : ''"
      >
      </textarea>
    </mat-form-field>

    <div class="button-container">
      <app-date-time-picker
        (update)="handleUpdateDate($event)"
        [date]="date"
      >
      </app-date-time-picker>
      <button
        class="send-button"
        mat-raised-button
        color="primary"
        (click)="pushLetter()"
        [disabled]="letterForm.invalid"
      >
      Send
      </button>
      <button
        class="delete-button"
        mat-fab color="primary"
        (click)="deleteLetter()"
        [disabled]="emailInput?.invalid && topicInput?.invalid && bodyInput?.invalid"  
      >
        <mat-icon>delete</mat-icon>
      </button>
      </div>
  </form>
 
</div>
