<div class="auth-form">
  <h1>Sign in to LetSer</h1>

  <p *ngIf="!isFormValid" class="login-error-validation">
    Incorrect password or email address
  </p>

  <form [formGroup]="signin">

    <mat-form-field (click)="isFormValid=true">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="ex@example.com"
        formControlName="email"
      />
      <mat-error *ngIf="emailInput?.hasError('email') && !emailInput?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailInput?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field (click)="isFormValid=true">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        placeholder="Password"
        [type]="hide ? 'password' : 'text'" 
        formControlName="password" 
        required
      >
      <mat-icon matSuffix (click)="hide = !hide">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="passwordInput?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="pushForm()"
      [disabled]="signin.invalid"
    >
      Sign In
    </button>

  </form>

  <p class="login-callout">
    New to LetSer? <a routerLink="/registr">Create an account</a>
  </p>

</div>